.product {
    font-size: larger;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    border: 1px lightblue solid;
    background-color: white;
    padding: 10px;
}

.singleImage {
    height: 300px;
}